
.icon-close:before { content: '\e800'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-github:before { content: '\f09b'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-window:before { content: '\f2d0'; } /* '' */
.icon-minimize:before { content: '\f2d1'; } /* '' */
.icon-facebook:before { content: '\f308'; } /* '' */
